html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/** Header Element **/

header {
  background-color: #f2f2f2;
}

.title {
}

h1 {
  font-size: 2rem;
}

/** Link Card Elements **/

.link-cards {
  display: flex;
}

section:nth-child(2) {
  font-size: .875rem;
}

img {
  width: 100px;
}
