html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/** Header Element **/

body {
  margin: 0;
}

header {
  background-color: #f2f2f2;
  padding: .75rem;
}

.title {
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

/** Link Card Elements **/

.link-cards {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

section:nth-child(2) {
  font-size: .875rem;
}

div {
  border-left: 1px solid #333;
}

div:nth-child(1) {
  background-color: #e2e2e2;
}

div:nth-child(2) {
  background-color: #ccc;
}

div:nth-child(3) {
  background-color: #aaa;
}

div:nth-child(4) {
  border-right: 1px solid #333;
  background-color: #999;
}

img {
  display: inline;
  max-width: 100px;
  width: auto;
}

a {
}

.btn {
  width: 25%;
  background-color: #333;
}

.btn:hover {

}
